<ng-container>
  <br>
  <div class="subject">SELECT SUBJECT</div><br>
  <div class="row">
    <mat-accordion class="example-headers-align">
      <form #accCreation="ngForm"   novalidate>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'" class="custheader">
            <mat-panel-title>
              General Knowledge
            </mat-panel-title>
            <mat-panel-description>
              General knowledge is information that has been accumulated over time through various mediums.
            
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <div style="color: blue;">ADD QUESTIONS</div><br>
          <mat-card>
            <mat-form-field style="width: 800px;" appearance="fill">
              <mat-label>Enter question</mat-label>
              <textarea matInput name="problem" [(ngModel)]="questions.problem" #option1="ngModel"></textarea>
            </mat-form-field><br>
            <mat-form-field class="options">
              <input matInput  placeholder="option1" name="option1" [(ngModel)]="questions.option1"
                #option1="ngModel" >
           
            </mat-form-field> <br>
            <mat-form-field class="options">
              <input matInput placeholder="option2" name="option2" [(ngModel)]="questions.option2" #option2="ngModel"
                >
         
            </mat-form-field><br>
            <mat-form-field class="options">
              <input matInput placeholder="option3" name="option3" [(ngModel)]="questions.option3" #option3="ngModel"
                >
             
            </mat-form-field> <br>
            <mat-form-field class="options">
              <input matInput placeholder="option4" name="option4" [(ngModel)]="questions.option4" #option4="ngModel"
                >
             
            </mat-form-field>
          </mat-card>
          <mat-action-row>
            <button mat-button color="primary" data-toggle="modal"  data-target="#preview_Modal" *ngIf="!PreviewFlag" (click)="Preview();">Preview</button>
            <button mat-button color="warn" (click)="clearForm(accCreation);">Cancel</button>
            <button mat-button color="primary"  (click)="Add(accCreation);">Add</button>
          </mat-action-row>
        </mat-expansion-panel>
      </form>
    </mat-accordion>
  </div>
</ng-container>

<div class="modal fade" id="preview_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <mat-card style="width: 460px;background-color: #73c20e;">
          <div style="display:flex; flex-direction: row;">
        <h5 class="modal-title" id="exampleModalLabel">General Knowledge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm();">
          <span aria-hidden="true">&times;</span>
        </button></div></mat-card>
      </div>
      <ul>
        <li style="color:DodgerBlue;font-size: 15px;">Please select the right answers before Clicking on submit</li>
     
      </ul>
    
            <mat-card style="width: 460px;margin-left: 16px;">
            <ng-container
              *ngFor="let vas of Question_Bucket ;let i= index;">
              <ng-container >
                <div >
                  <ng-container *ngIf="vas.problem">
                   <span> 
                    <h6>{{i+1}}.{{vas.problem}}</h6></span>
                    <mat-radio-group [(ngModel)]="vas.answer" aria-label="Select an option">
                      <mat-radio-button value="1">{{vas.option1}}</mat-radio-button><br>
                      <mat-radio-button value="2">{{vas.option2}}</mat-radio-button><br>
                      <mat-radio-button value="3">{{vas.option3}}</mat-radio-button><br>
                      <mat-radio-button value="4">{{vas.option4}}</mat-radio-button><br>
                    </mat-radio-group>
               
                  </ng-container>
                  <hr>
                </div>
              </ng-container>
            </ng-container></mat-card>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearForm();">Back</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Submit();">Submit</button>
      </div>
    
    </div>
  </div>
</div>
<app-alert></app-alert>
<app-confirm></app-confirm>