.modal {
    top: 20%;
    margin-bottom: 1px;
 }
 
 .modal-content {
    border-radius: 0;
    padding: 0px;
    width: 84%;
}
 .btnok .btnok:hover{
   width:8%;  
   height: 8%;
   padding: 0.4em 0.1675em;
   font-weight: 800;
   color: #fff;
   background-color: #73c20e;
   border-color: #73c20e;
 }
 p {
     font-size: 1.0em;
    font-weight: 600;
 }
 .fa-exclamation-circle{
     color:#dc3545;
     size: 2x;
     
 }
 .fa-check-circle{
     color:#28a745; 
    
 }
 .fa{
     
     font-size: 50px;
 }
 .modal-footer{
     border-top:0px;
 }
 .wrapper{
     
     text-align: center;
     margin-bottom: 10px;
 }
 
 .modal-backdrop {
     opacity: 0.5;
 }
 
 .modal-background{
     background-color: black;
     opacity:.4;
 
 }
 .transparent-backdrop.in {
     opacity: 0;
   }

   .btn-primary {
    color: #fff;
    background-color: #73c20e;
    border-color: #73c20e;
}

