<app-nav-bar></app-nav-bar>
<!-- <div class ="row">
    <div class ="col-lg-9" >
    <router-outlet></router-outlet> -->
    <!-- <app-user-registration></app-user-registration> -->
    <app-teacher-main-menu></app-teacher-main-menu>
    <!-- </div>
    <div class ="col-lg-3" style="background-color: aqua;">
  
    <p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:
        Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:
        Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:
    </p>
    </div>
    </div> -->


   






<router-outlet></router-outlet>